
<h1>Editar dados de Usuário</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <button>
  <%= link_to "Mostrar Usuário", @customer %> |
  </button>
   <button>
  <%= link_to "Voltar ao início", customers_path %>
  </button>
</div>
