<h1 style="padding-top: 180px;padding-left:40rem; font-family:sans-serif; ">Faça seu cadastro</h1>

<%= render "form", customer: @customer %>

<br>
<div style='padding-left:46rem;'>
<button style='width:120px; height:25px; box-shadow: 2px 2px 2px rgba(0,0,0,0.2); background: white; border-radius:8px;'>
  <%= link_to "Voltar", customers_path %>
</button>
</div>

