<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div style="padding-left:40rem;">
<button class="editar">
  <%= link_to "Editar meus dados", edit_customer_path(@customer), class:"edita" %> |
  </button>
  <button class="voltar">
  <%= link_to "Voltar para o início", inicio_path, class:"volta" %>
  </button>
<br> <br>

</div>

<style>
   .edita {
     text-decoration:none;

   }
   
   .volta {
    text-decoration:none;
  }

</style>

